In [1]:
import pandas as pd
import numpy as np
import json

In [2]:
with open('data/classificationH6.json','r') as f:
    data = json.loads(f.read())

df = pd.json_normalize(data, record_path =['results'])

In [3]:
df.head(10)

       id                                               text parent
0     ALL                              All HS2022 categories      #
1   TOTAL                    Total of all HS2022 commodities      #
2     AG2               AG2 - All 2-digit HS2022 commodities      #
3     AG4               AG4 - All 4-digit HS2022 commodities      #
4     AG6               AG6 - All 6-digit HS2022 commodities      #
5      01                                 01 - Animals; live  TOTAL
6    0101      0101 - Horses, asses, mules and hinnies; live     01
7  010121  010121 - Horses; live, pure-bred breeding animals   0101
8  010129  010129 - Horses; live, other than pure-bred br...   0101
9  010130                               010130 - Asses; live   0101

In [4]:
df.drop(df.index[:5], inplace=True)
df['text'] = df['text'].apply(lambda x: x.split('-')[1])

In [5]:
df.head(10)

        id                                     text parent
5       01                            Animals; live  TOTAL
6     0101   Horses, asses, mules and hinnies; live     01
7   010121                       Horses; live, pure   0101
8   010129            Horses; live, other than pure   0101
9   010130                              Asses; live   0101
10  010190                  Mules and hinnies; live   0101
11    0102                     Bovine animals; live     01
12  010221                       Cattle; live, pure   0102
13  010229            Cattle; live, other than pure   0102
14  010231                      Buffalo; live, pure   0102

In [6]:
df = df.loc[df['id'].str.len() == 6]
df.reset_index(drop=True, inplace=True)

In [7]:
df.head(10)

       id                                               text parent
0  010121                                 Horses; live, pure   0101
1  010129                      Horses; live, other than pure   0101
2  010130                                        Asses; live   0101
3  010190                            Mules and hinnies; live   0101
4  010221                                 Cattle; live, pure   0102
5  010229                      Cattle; live, other than pure   0102
6  010231                                Buffalo; live, pure   0102
7  010239                     Buffalo; live, other than pure   0102
8  010290   Bovine animals; live, other than cattle and b...   0102
9  010310                                  Swine; live, pure   0103

In [8]:
df.to_csv("data/HSCodeData.csv")